<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768418404122-scqftpuii9u66qo2n2frkjirlf1neual.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768418404122-scqftpuii9u66qo2n2frkjirlf1neual</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>768418404122-ibes825qsri19u1p7js79ank6crbf1aq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZEjUgQLb_hV1Mafg-xWK7br9sbJq18xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>768418404122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yuzu.itten</string>
	<key>PROJECT_ID</key>
	<string>yuzu-a0d71</string>
	<key>STORAGE_BUCKET</key>
	<string>yuzu-a0d71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768418404122:ios:a0a2797721682be6107ea3</string>
	<key>DATABASE_URL</key>
	<string>https://yuzu-a0d71-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>

